.grid-svg {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 200vw;
  height: 200vh;
}

.engine-started {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}